<Config>
  <WhisparrMetadata>https://api.whisparr.com/v3/{route}</WhisparrMetadata>
  <BindAddress>*</BindAddress>
  <Port>6969</Port>
  <SslPort>8008</SslPort>
  <EnableSsl>False</EnableSsl>
  <LaunchBrowser>True</LaunchBrowser>
  <ApiKey>fba097d0e5d6428ebf14c74506013ce6</ApiKey>
  <AuthenticationMethod>Basic</AuthenticationMethod>
  <AuthenticationRequired>Enabled</AuthenticationRequired>
  <Branch>nightly</Branch>
  <LogLevel>info</LogLevel>
  <SslCertPath></SslCertPath>
  <SslCertPassword></SslCertPassword>
  <UrlBase></UrlBase>
  <InstanceName>Whisparr</InstanceName>
  <UpdateMechanism>Docker</UpdateMechanism>
</Config>